#
# Copyright (C) 2014  Rudolf Tammekivi <rtammekivi@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

on init
    # Disable framebuffer alignment
    write /sys/module/msm_fb/parameters/align_buffer 0

    # Add mountpoint for cust partition
    mkdir /cust

on fs
    # Wait for the last partition
    wait /dev/block/mmcblk0p14
    exec /sbin/lvm vgscan --mknodes --ignorelockingfailure
    exec /sbin/lvm vgchange -aly --ignorelockingfailure

    # Mount /cust always to have boot.img and recovery.img fake parts
    mount vfat /dev/block/platform/msm_sdcc.2/by-num/p1 /cust
    exec /sbin/losetup /dev/block/loop0 /cust/image/boot.img
    exec /sbin/losetup /dev/block/loop1 /cust/image/recovery.img

service rmt_storage /sbin/rmt_storage

service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

on charger
    start rmt_storage
    class_start charger
